.table-resizable th {
    position: relative;
  }
  
  body.table-resizing {
    cursor: col-resize !important;
    user-select: none;
  }
  
  .resize-indicator {
    display: block;
    position: absolute;
    top: 0;
    right: -5px;
    width: 9px;
    height: 100%;
    cursor: col-resize;
  }